@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

html {
  font-family: var(--font-main);
  line-height: 1.5rem;
  font-size: 16px;
  background-color: var(--color-secondary-50);
  scroll-behavior: smooth;
  color: var(--color-secondary-900);
  overflow-x: clip;
  overscroll-behavior-y: contain;
}
body {
  overflow-x: clip;
  overscroll-behavior-y: contain;
}
* {
  -webkit-tap-highlight-color: transparent;
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1.25rem;
  max-width: 1242px;
}

/* Баннер */
.banner {
  position: relative;
  width: 100%;
  height: 860px;
  display: block;
  background-color: var(--color-primary);
}
@media (min-width: 540px) {
  .banner {
    height: 700px;
  }
}
.banner__container {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .banner__container {
    gap: 62px;
  }
}
.banner__header {
  padding-top: 18px;
  display: block;
}
@media (min-width: 768px) {
  .banner__header {
    padding-top: 28px;
  }
}
.banner__logo {
  width: auto;
  height: 32px;
  flex-shrink: 0;
  display: block;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .banner__logo {
    height: 36px;
  }
}
.banner__content {
  width: 100%;
  max-width: 470px;
  display: block;
}
@media (min-width: 768px) {
  .banner__content {
    max-width: 542px;
  }
}
.banner__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}
.banner__title-line {
  width: 100%;
  display: block;
  font-family: var(--font-accent);
  font-size: 2.25rem;
  line-height: 1.1;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__title-line {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .banner__title-line {
    font-size: 3.75rem;
  }
}
.banner__title-line--mid {
  width: fit-content;
  text-align: center;
}
.banner__title-line--end {
  width: 100%;
  text-align: right;
}
.banner__description {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  text-align: left;
  margin-bottom: 32px;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .banner__description {
    text-align: center;
    margin-bottom: 40px;
  }
}
.banner__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
}
@media (min-width: 768px) {
  .banner__actions {
    flex-direction: row;
    gap: 1rem;
  }
}
.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.125rem 2.5rem;
  border-radius: 4.125rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .button {
    padding: 1.25rem 3rem;
  }
}
.button--primary {
  background-color: var(--color-secondary-950);
  color: var(--color-secondary-50);
}
@media (min-width: 768px) {
  .button--primary:hover {
    background-color: var(--color-accent-2);
    color: var(--color-secondary-950);
  }
}
.button--secondary {
  background-color: var(--color-secondary-50);
  color: var(--color-secondary-950);
  opacity: 0.9;
}
@media (min-width: 1024px) {
  .button--secondary {
    background-color: transparent;
    color: var(--color-secondary-950);
    outline: 2px solid var(--color-secondary-950);
    outline-offset: -2px;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .button--secondary:hover {
    background-color: var(--color-secondary-950);
    color: var(--color-secondary-50);
  }
}

.banner__decor {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: var(--color-primary);
}
.banner__chess-horse {
  position: absolute;
  background: url(../assets/images/chess-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 77px;
  height: 121px;
  bottom: -20px;
  z-index: 5;
  left: calc(50% - 25px);
  rotate: -10deg;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__chess-horse {
    width: 100px;
    height: 158px;
    bottom: -19px;
    left: calc(50% + 157px);
  }
}
@media (min-width: 1024px) {
  .banner__chess-horse {
    width: 154px;
    height: 244px;
    bottom: -40px;
    left: calc(50% + 165px);
  }
}
.banner__chess-pawn {
  position: absolute;
  background: url(../assets/images/chess-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 42px;
  height: 64px;
  bottom: 8px;
  z-index: 5;
  left: calc(50% + 150px);
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__chess-pawn {
    width: 64px;
    height: 96px;
    bottom: 14px;
    left: calc(50% + 400px);
  }
}
@media (min-width: 1024px) {
  .banner__chess-pawn {
    width: 83px;
    height: 123px;
    bottom: 18px;
    left: calc(50% + 540px);
  }
}
.banner__texture {
  position: absolute;
  inset: 0;
  background-image: url("../assets/images/texture.webp");
  background-repeat: repeat;
  z-index: 4;
  mix-blend-mode: color-burn;
}
.banner__city {
  position: absolute;
  background: url(../assets/images/city.webp) no-repeat;
  width: 100%;
  height: 460px;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-position: calc(50% - 130px) bottom;
  background-repeat: no-repeat;
  filter: drop-shadow(0px -8px 0 #ffffff) drop-shadow(-8px 0px 0 #ffffff)
    drop-shadow(8px 3px 0 #ffffff);
  background-size: auto 220px;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__city {
    background-size: auto 320px;
    background-position: 50% bottom;
  }
}
@media (min-width: 1024px) {
  .banner__city {
    background-size: auto;
    background-position: 50% bottom;
  }
}
.banner__chess-queen {
  position: absolute;
  background: url(../assets/images/chess-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 47px;
  height: 104px;
  bottom: 160px;
  z-index: 2;
  rotate: 8deg;
  left: calc(50% + 47px);
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__chess-queen {
    width: 74px;
    height: 164px;
    bottom: 225px;
    left: calc(50% + 292px);
  }
}
@media (min-width: 1024px) {
  .banner__chess-queen {
    width: 113px;
    height: 253px;
    bottom: 275px;
    left: calc(50% + 380px);
  }
}
.banner__chess-king {
  position: absolute;
  background: url(../assets/images/chess-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 116px;
  bottom: 105px;
  z-index: 2;
  rotate: -6deg;
  left: calc(50% - 116px);
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__chess-king {
    width: 73px;
    height: 176px;
    bottom: 136px;
    left: calc(50% + 36px);
  }
}
@media (min-width: 1024px) {
  .banner__chess-king {
    width: 104px;
    height: 256px;
    bottom: 169px;
    left: calc(50% + 46px);
  }
}
.banner__circle {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 70px;
  width: 300px;
  height: auto;
  aspect-ratio: 1 / 1;
  left: calc(50% - 310px / 2);
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .banner__circle {
    width: 460px;
    bottom: 70px;
    left: calc(50%);
  }
}
@media (min-width: 1024px) {
  .banner__circle {
    width: 660px;
    top: -44px;
    left: calc(50% - 20px);
  }
}
.banner__circle-text {
  text-transform: uppercase;
  mix-blend-mode: overlay;
  font-size: 3px;
  font-family: var(--font-accent);
}

/* Строка */
.marquee {
  overflow: hidden;
  width: 100%;
  background-color: var(--color-accent-1);
  padding-block: 0.625rem;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .marquee {
    padding-block: 1rem;
  }
}
@media (min-width: 768px) {
  .marquee {
    padding-block: 1.125rem;
  }
}
.marquee__track {
  display: flex;
  width: max-content;
}
.marquee__content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
  color: var(--color-secondary-50);
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1;
  margin-inline: 6px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .marquee__content {
    font-size: 1.125rem;
  }
}
@media (min-width: 768px) {
  .marquee__content {
    font-size: 1.375rem;
  }
}

.marquee__sep {
  width: 6px;
  height: 6px;
  flex-shrink: 0;
}

/* Страница */
.page {
  width: 100%;
  display: block;
  padding-top: 3rem;
  padding-bottom: 6.25rem;
}
@media (min-width: 540px) {
  .page {
    padding-top: 5rem;
    padding-bottom: 8.75rem;
  }
}

/* Поддержка */
.support {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  scroll-margin-top: 2rem;
}
@media (min-width: 768px) {
  .support {
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .support {
    gap: 4rem;
  }
}
.support__title {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 300px;
  font-size: 1.75rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: var(--font-accent);
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .support__title {
    gap: 348px;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .support__title {
    display: block;
    font-size: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .support__title {
    font-size: 2.25rem;
  }
}
.support__accent {
  font-weight: 700;
  color: var(--color-accent-1);
}
.support__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .support__image {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .support__image {
    position: relative;
    width: 100%;
    top: auto;
    transform: none;
    height: auto;
    aspect-ratio: 197 / 125;
  }
}
@media (min-width: 1024px) {
  .support__image {
    width: auto;
    height: 250px;
    flex-shrink: 0;
  }
}

/* Инфо */
.info {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media (min-width: 768px) {
  .info {
    margin-top: 4rem;
    grid-template-columns: 9fr 13fr;
    gap: 1rem;
  }
}
.info__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  scale: 1.1;
  transition: 0.3s ease-in-out;
}
@media (min-width: 640px) {
  .info__image {
    scale: 1;
  }
}
.info__content {
  width: 100%;
  display: block;
}
.info__title {
  width: 100%;
  display: block;
  font-size: 1.75rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: var(--font-accent);
  text-transform: uppercase;
  margin-bottom: 2.75rem;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .info__title {
    font-size: 2rem;
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 1024px) {
  .info__title {
    font-size: 2.25rem;
  }
}
.info__title-accent {
  font-weight: 700;
  color: var(--color-accent-1);
}

.info__table {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .info__table {
    margin-bottom: 3rem;
  }
}
.info__row {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 2px solid var(--color-secondary-300);
  font-size: 1.25rem;
  line-height: 1.2;
  gap: 0.75rem;
  color: var(--color-secondary-900);
  padding-block: 1rem;
}
@media (min-width: 540px) {
  .info__row {
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding-block: 0;
  }
}
.info__row:first-child {
  padding-top: 0;
}
.info__row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.info__term {
  font-weight: 400;
}
@media (min-width: 540px) {
  .info__term {
    padding: 1rem 1rem 1rem 0;
    border-right: 1px solid var(--color-secondary-300);
  }
  .info__row:first-child .info__term {
    padding-top: 0;
  }
  .info__row:last-child .info__term {
    padding-bottom: 0;
  }
}
.info__value {
  font-weight: 600;
}

@media (min-width: 540px) {
  .info__value {
    padding: 1rem 0 1rem 1rem;
    border-left: 1px solid var(--color-secondary-300);
  }
  .info__row:first-child .info__value {
    padding-top: 0;
  }
  .info__row:last-child .info__value {
    padding-bottom: 0;
  }
}
.info__value-old {
  text-decoration-line: line-through;
  text-decoration-color: var(--color-accent-1);
  text-decoration-thickness: 2px;
  margin-right: 8px;
}
.info__note {
  font-size: 1.125rem;
  line-height: 1.2;
  color: var(--color-accent-3);
  font-weight: 400;
}
@media (min-width: 540px) {
  .info__note {
    font-size: 1.25rem;
  }
}

/* Этапы */
.stages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 7.5rem;
  scroll-margin-top: 2rem;
}
@media (min-width: 768px) {
  .stages {
    gap: 3.375rem;
  }
}
.stages__title {
  width: fit-content;
  display: block;
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: var(--font-accent);
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .stages__title {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .stages__title {
    font-size: 3.375rem;
  }
}
.stages__title-sub {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
@media (min-width: 540px) {
  .stages__title-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1024px) {
  .stages__title-sub {
    gap: 1.25rem;
  }
}
.stages__title-note {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-accent-3);
  font-family: var(--font-main);
  text-transform: none;
}
@media (min-width: 540px) {
  .stages__title-note {
    display: block;
    max-width: 250px;
  }
}
@media (min-width: 1024px) {
  .stages__title-note {
    display: block;
    font-size: 1.25rem;
    max-width: 280px;
  }
}
.stages__viewport {
  position: relative;
  display: block;
  padding-top: 128px;
}
@media (min-width: 768px) {
  .stages__viewport {
    padding-top: 0;
  }
}
.stages__list {
  display: grid;
  grid-template-columns: repeat(5, 100%);
  column-gap: 1.25rem;
  grid-template-areas:
    "stage1 stage3 stage4 stage6 stage7"
    "stage2 stage3 stage5 stage6 stage7";
  counter-reset: stages;
}
@media (min-width: 768px) {
  .stages__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.25rem;
    grid-template-areas:
      "stage1 stage2"
      "stage3 stage4"
      "stage5 stage6"
      "stage7 stage7";
  }
}
@media (min-width: 1024px) {
  .stages__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "stage1 stage2 stage3"
      "stage4 stage5 stage3"
      "stage6 stage7 stage7";
  }
}
.stages__item {
  position: relative;
  counter-increment: stages;
  width: 100%;
  height: auto;
  background: url(../assets/images/bg-card.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 62px 24px 34px 72px;
  cursor: grab;
}
@media (min-width: 768px) {
  .stages__item {
    padding: 1.25rem;
    padding-left: 72px;
    cursor: default;
  }
}
.stages__text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  color: var(--color-secondary-900);
}
@media (min-width: 1024px) {
  .stages__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .stages__item:nth-child(7) .stages__text {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .stages__item:nth-child(7) .stages__text {
    width: 55%;
  }
}
.stages__item::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary-50);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--color-secondary-900);
  content: counter(stages);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  left: 20px;
}
.stages__item:nth-child(1) {
  grid-area: stage1;
}
.stages__item:nth-child(2) {
  grid-area: stage2;
}
@media (max-width: 768px) {
  .stages__item:nth-child(2) {
    padding-top: 0;
  }
}
.stages__item:nth-child(3) {
  grid-area: stage3;
}
.stages__item:nth-child(4) {
  grid-area: stage4;
}
.stages__item:nth-child(5) {
  grid-area: stage5;
}
@media (max-width: 768px) {
  .stages__item:nth-child(5) {
    padding-top: 0;
  }
}
.stages__item:nth-child(6) {
  grid-area: stage6;
}
.stages__item:nth-child(7) {
  grid-area: stage7;
}
.stages__object {
  position: absolute;
  display: block;
  width: auto;
  height: 182px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
}
@media (min-width: 768px) {
  .stages__object {
    top: auto;
    left: auto;
    right: -40px;
    bottom: -10px;
    transform: none;
  }
}
@media (min-width: 1024px) {
  .stages__object {
    width: 376px;
    height: auto;
    right: -70px;
    bottom: 0;
  }
}
.stages__controls {
  margin-inline: auto;
}
@media (min-width: 768px) {
  .stages__controls {
    display: none !important;
  }
}

/* Игроки */
.players {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 7.5rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .players {
    margin-top: 12.5rem;
    gap: 3.75rem;
  }
}
.players__title {
  width: fit-content;
  display: block;
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 400;
  font-family: var(--font-accent);
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
@media (min-width: 540px) {
  .players__title {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .players__title {
    font-size: 3.375rem;
  }
}
.players__list {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  gap: 1.25rem;
}
@media (min-width: 768px) {
  .players__list {
    grid-auto-columns: calc((100% - 1.25rem) / 2);
  }
}
@media (min-width: 1024px) {
  .players__list {
    grid-auto-columns: calc((100% - 1.25rem) / 3);
  }
}
.players_controls {
  position: relative;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .players_controls {
    position: absolute;
    right: 0;
    top: 1rem;
  }
}
.players__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  touch-action: pan-y;
  cursor: grab;
}
@media (min-width: 1024px) {
  .players__item {
    padding-inline: 2.5rem;
  }
}
.players__avatar {
  width: 100%;
  max-width: 320px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.75rem;
  pointer-events: none;
  -webkit-user-drag: none;
}
.players__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.players__name {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
.players__rank {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  opacity: 0.6;
  text-align: center;
}
.players__link {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 500;
  color: var(--color-accent-3);
  padding: 0.75rem;
  border: 1px solid var(--color-accent-3);
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .players__link:hover {
    background-color: var(--color-accent-3);
    color: var(--color-secondary-50);
  }
}
.players__link,
.players__name,
.players__rank {
  user-select: none;
}

/* Футер */
.footer {
  padding-top: 2.5rem;
  padding-bottom: 3.75rem;
  background-color: var(--color-primary);
}
@media (min-width: 540px) {
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 4.5rem;
  }
}
.footer__content {
  display: block;
}
.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-secondary-900);
  opacity: 0.6;
}

/* Слайдер */
.slider {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  touch-action: pan-y;
}
.slider__wrapper {
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
.slider__controls {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.slider__button {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--color-secondary-900);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
  .slider__button {
    padding: 0.75rem;
  }
  .slider__button:hover {
    background-color: var(--color-accent-2);
  }
}
.slider__button--disabled {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}
.slider__button-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: var(--color-secondary-50);
}
.slider__pagination {
  width: fit-content;
  max-width: 200px;
  display: inline-flex;
  flex-shrink: 0;
}
.slider__dot {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  margin-right: 6px;
  background-color: var(--color-secondary-900);
  opacity: 0.2;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.slider__dot:last-child {
  margin-right: 0;
}
.slider__dot--active {
  opacity: 1;
}
.slider__pagination-number {
  display: inline-flex;
  flex-shrink: 0;
  width: fit-content;
  align-items: center;
  gap: 2px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-secondary-900);
}
.slider__pagination-number * {
  opacity: 0.6;
}
.slider__pagination-current {
  opacity: 1;
}
